:root {
    --main-bg-color: #232136;
    --main-text-color: #e0def4;
    --secondary-bg-color: #2a273f;
    --tertiary-bg-color: #393552;
    --low-contrast-fg-color: #6e6a86;
    --med-contrast-fg-color: #908caa;
    --iris: #c4a7e7;
    --border-color: #56526e;
    --red-alert-color: #eb6f92;
    --highlighted-words: #ea9a97;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

html{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

header {
    background-color: var(--tertiary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

header h1 {
    padding-left: 25px;
    flex-grow: 0;
}
.tab2{
    margin-left: 30px;
}
.tab4{
    margin-left: 60px;
}
.tab8{
    margin-left: 90px;
}
.contentcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainbody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin-bottom: 20vh;
}
.mainbody p {
    font-size: 1.25rem;
    max-width: 800px;
    margin: 1em 2em;
    line-height: 1.75em;
}
.mainbody h2 {
    font-size: 3rem;
    padding: 1em 1em;
    text-align: center;
}
.mainbody h3 {
    font-size: 2.5rem;
    padding: 20px 10vw;
    text-align: center;
}
.mainbody h4 {
    font-size: 1.5rem;
    margin: 1em 2em 0em 2em;
    align-self: flex-start;
    color: var(--highlighted-words);
}


.menu {
    min-width: 50px;
    min-height: 50px;
    margin: 5px;
    border-radius: 15px;
    transition: 0.3s;
}
.menu:hover {
    box-shadow: 0px 0px 15px var(--iris);
}

.menuback {
    width: 60px;
    min-height: 60px;
    margin: 25px;
    border: 3px solid var(--red-alert-color);
    border-radius: 20px;
    transition: 0.3s;
}
.menuback:hover {
    box-shadow: 0px 0px 15px var(--red-alert-color);
}

.sidenav{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--border-color);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

ul.catalog-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.big-o-list{
    list-style: circle;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

p a {
    color: var(--red-alert-color);
}
.sidenav a, ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--main-text-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, ul li a:hover {
    text-shadow: 0px 0px 10px var(--iris);
}

code {
    background-color: var(--tertiary-bg-color);
    padding: 10px 20px;
    width: 600px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 1.75rem;

}

div.references {
    text-indent: -4rem;
    padding-left: 4rem;
}

@media  screen and (max-width: 800px) {
    .mainbody p {
        padding: 0px 5vw;
    }

    code {
        font-size: 0.7rem;
        width: 300px;
    }
}