.hero-container {
    position: relative;
}

.hero-text {
    width: 40vw;
    font-size: 4rem;
    position: absolute;
    top: 5vh;
    left: 5vw;
}
@media screen and (max-width: 1100px) {
    .hero-text {
        font-size: 3rem;
    }
}
.hero-bg {
    background: url("hero-bg.jpg") no-repeat center fixed;
    background-size: cover;
    height: 500px;
    position: relative;
    box-shadow: 10px 10px 7em 100px var(--main-bg-color) inset;
    opacity: 30%;
}

